/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

/* Main container */
.main-container {
  width: 100%;
}

/* Header */
.flexbox-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.date-box-container {
  display: flex;
  gap: 10%;
} */

Button
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


@media screen and (max-width: 768px) {
  .content-container {
    width: 90%;
    padding: 20px;
  }



  .date-box-container {
    flex-direction: column;
    gap: 10px;
  }

  .placeholder-box,
  .date-box {
    width: 100%;
  }
}